*{
    margin: 0;
    padding: 0;
    background-color: #FBE9E7;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-x: none;
}

@import "_responsive";
@import "_inicio";
@import "_perros-gatos";
@import "_nuevaPublicacion";
@import "_miPerfil";
@import "_404";
